body, html {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    color: #444;
}

.content{
    width: 320px;
    margin: 0 auto;
    text-align: center;
}

.setting-tabs {
    background: #fff;
    border: 1px solid #a7afb9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    margin: 1px auto 2px;
    width: 320px
}
.setting-tabs h1,
.setting-tabs h2,
.setting-tabs h3,
.setting-tabs h4,
.setting-tabs h5,
.setting-tabs p {
    margin: 0;
    padding: 0
}


.setting-tabs h4{
    border-bottom: 1px solid #e1e1e1;
    font-weight: 800;
}
.setting-tabs header {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    font-weight: 400
}
.setting-tabs header h1 {
    color: #222;
    font-size: 20px;
    margin: 0;
    padding: 12px;
    text-align: center
}
.setting-tabs header h1 span {
    color: #666;
    font-weight: 400
}


.setting-tabs footer {
    background: #fff;
    padding: 8px;
    font-size: 2px;
    border-top: 1px solid #e1e1e1;

}

.setting-tabs footer p{
    text-align: center;
}

.tabbutton {
    font-size: 0px;
}

.tabbutton:hover {
    color: #797979;
    font-weight: 600;
    background-color: rgba(68, 68, 68, 0.43);
}

.tab {
    display: none;
    font-size: 0px;
}

.tab + label {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    padding: 0px 0px;
    font-size: 16px;
    /*border: 1px solid #d5d5d5;*/
    border-radius: 0px;
    margin: auto;
    cursor: pointer;

}

.tab:checked + label {
    background-color: rgba(68, 68, 68, 0.7);
    color: #f5f5f5;
    font-weight: 700;
    border-color: transparent;
}

.tab:checked:nth-of-type(1) ~ .flow:nth-of-type(1) {
    display: block;
}
.tab:checked:nth-of-type(2) ~ .flow:nth-of-type(2) {
    display: block;
}
.tab:checked:nth-of-type(3) ~ .flow:nth-of-type(3) {
    display: block;
}

.flow {

    width: 100%;
   /* text-align: left;*/
    display: none;
    border-top: 1px solid #e1e1e1;
    padding: 10px 0px 0px 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 15px 10px;

}

.detail{
    width: 320px;
    flex-basis: auto;
}


.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 160px;
}

.dropdown-text {
  cursor: pointer;
  position: relative;
  text-indent: 10px;
  line-height: 32px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
  width: 100%;
}

.dropdown-text:after {
  position: absolute;
  right: 6px;
  top: 15px;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #555 transparent transparent transparent;
}

.dropdown-text,
.dropdown-content a {
  color: #333;
  text-shadow: 0 1px #fff;
  font-size: 14px;
}

.dropdown-toggle {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 34px;
  width: 100%;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-content {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;
  font-size: 14px;
  z-index: 2;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility:hidden;
  border-radius: 3px;
  text-indent: 10px;
  line-height: 32px;
  background-color: #eee;
  width: 140px;
  cursor: pointer;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background: #e8e8e8;
}


.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: #e8e8e8;
}

.dropdown-toggle:focus ~ .dropdown-text {
  box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
  z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #555 transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility:visible;
  top: 42px;
}

.slider{
  padding-top: 12px;
}

.slider input{
  cursor: pointer;
}

/*.setting-tabs .styles li {
    display: inline-block;
    text-align: center;
    width: 33.3%
}
.setting-tabs .styles li a {
    color: #444;
    display: block;
    font-size: 15px;
    padding: 10px 22px;
}
.setting-tabs .styles li a:hover,
.setting-tabs .styles li a:active,
.setting-tabs .styles li a.selected {
    background: #d5e1f2
}
.setting-tabs .styles li a.selected {
    font-weight: 700
}*/


.setting-tabs .close-btn {
    position: absolute;
    top: 5px;
    right: 5px
}
.setting-tabs .btn-wrapper {
    text-align: center
}
.setting-tabs .btn {
    background: #fff;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 10px;
    padding: 6px 10px;
    text-align: center
}
.setting-tabs .btn:hover {
    background: #d5e1f2
}