@mixin toggleable {
  &.ydm-toggleable-hidden {
    opacity: 0;
    transform: translateY(-120%);
  }
  &.ydm-toggleable-show {
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  &.ydm-toggleable-hide {
    animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
}